<br><br><br>
<form #f="ngForm" (submit)="saveData(f)">
  <legend>Add Website</legend>

  <div class="form-group">
    <label for="">Website Name</label>
    <input type="text" class="form-control" name="name" ngModel>
  </div>

  <div class="form-group">
    <label for="">Website Status</label>
    
    <select class="form-control" name="status" ngModel>
      <option value="active">Active</option>
      <option value="inactive">InActive</option>
    </select>
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
