<!-- Data binding - 
  String Interpolition {{ }}
  Property Binding []
  Event Binding - (click/focus/input.....etc)
  Two way binding - [(ngModel)]
-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>DataBinding In Angular</h1>
      <hr>
      <button class="btn btn-primary" (click)="activatetextbox()">Set the Initial Value</button>
      
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="inval" id="exampleInputAmount" placeholder="Search" [disabled]="!istextboxactive">
      </div>
      
      
      <button type="button" class="btn btn-danger" (click)="counter(0)"><i class="fa fa-minus"></i></button> 
      <span class="inval">{{ getInval() }}</span>
      <button type="button" class="btn btn-success" (click)="counter(1)"><i class="fa fa-plus"></i></button>
      
      
    </div>
  </div><br/>
  <button type="button" class="btn btn-danger" (click)="onclick()">Submit values</button>
  Spinner Test --- <img src="assets/spinner.gif" alt="">
</div>



