<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <section>
                <h2>What I do??</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, ducimus aliquam. A fuga eaque cum perspiciatis est totam! Quos molestiae iure architecto? Qui id facere tenetur quia, animi inventore necessitatibus.</p>
                <button class="btn btn-primary">Subscribe me</button>
              </section>
              
        </div>
      </div>
      
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Title!</strong> Alert body ...
      </div>
      
</div>


